html {
  box-sizing: border-box;
  height: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* * {
  outline: 1px solid red;
} */

body {
  margin: 0;
  font-family: "Poppins", "Roboto", sans-serif;
  background-image: url("./assets/wallpaperflare.jpg");
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-position: left;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
